@import "tailwindcss";
@import "./utilities.css";

@theme {
  --color-primary: #9a4021;
  --color-on-primary: #ffffff;
  --color-primary-container: #b95837;
  --color-on-primary-container: #fffbff;
  --color-secondary: #705951;
  --color-tertiary: #006768;
  --color-background: #fbf9f2;
  --color-on-background: #141413;
  --color-surface: #fbf9f2;
  --color-on-surface: #141413;
  --color-surface-variant: #e3e3dc;
  --color-on-surface-variant: #56423c;
  --color-outline-variant: #dcc1b8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f4ed;
  --color-surface-container-high: #e9e8e1;
  --color-surface-container-highest: #e3e3dc;
  --color-error: #ba1a1a;
  --color-near-black: #141413;
  --color-secondary-container: #f8d9ce;
  --color-on-secondary-container: #755d55;
  --color-tertiary-container: #008283;
  --color-inverse-surface: #30312c;
  --color-inverse-on-surface: #f2f1ea;

  --radius-soft: 32px;

  --font-headline: "Newsreader", serif;
  --font-body: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-background antialiased selection:bg-primary-container selection:text-on-primary-container min-h-screen flex flex-col;
    font-family: var(--font-body);
  }
  h1, h2, h3, h4, h5, h6, .font-headline {
    font-family: var(--font-headline);
  }
}
